:root {
  --color-text: #030229;
  --color-error: #d11a2a;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #605bff;
  --color-secondary: #fafafb;

  --color-grey: #b3b3bf;
  --color-red: #ff6a77;
  --color-blue: #5b93ff;
  --color-cyan-blue: #26c0e2;
  --color-orange: #ff8f6b;
  --color-yellow: #ffc327;
  --color-purple: #aca9ff;
  --color-pink-light: #ffc7d4;

  --font: "Nunito", sans-serif;

  --gradient-nav-item: linear-gradient(90deg, rgba(172, 169, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

html {
  font-size: 16px;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  font-size: 1rem;
  font-family: var(--font);
  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#app {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
